#profile-photo {
    border-radius: 47% 53% 40% 60% / 52% 55% 45% 48%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: reshape 20s linear infinite;
    background-color: #fff;
}

@keyframes reshape {
    from {
        border-radius: 47% 53% 40% 60% / 52% 55% 45% 48%;
    }

    to {
        border-radius: 47% 53% 40% 60% / 52% 55% 45% 48%;
    }

    10% {
        border-radius: 61% 39% 56% 44% / 33% 65% 35% 67%;
    }

    20% {
        border-radius: 43% 57% 56% 44% / 42% 51% 49% 58%;
    }

    30% {
        border-radius: 61% 39% 35% 65% / 60% 51% 49% 40%;
    }

    40% {
        border-radius: 46% 54% 60% 40% / 50% 33% 67% 50%;
    }

    50% {
        border-radius: 33% 67% 35% 65% / 63% 33% 67% 37%;
    }

    60% {
        border-radius: 62% 38% 51% 49% / 49% 41% 59% 51%;
    }

    70% {
        border-radius: 54% 46% 36% 64% / 39% 33% 67% 61%;
    }

    80% {
        border-radius: 31% 69% 26% 74% / 65% 41% 59% 35%;
    }

    90% {
        border-radius: 48% 52% 18% 82% / 60% 27% 73% 40%;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    font-weight: 600;
    transition: all .7s;
}

.text-purple {
    color: rgb(197, 1, 197);
}

.my-container {
    padding: 0 5%;
}

.main-container-outer {
    padding-top: 50px;
    background-color: #464646;
}

.my-navbar {
    height: 50px;
    position: fixed;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(5px);
    z-index: 10;
    transition: all .7s;
}

.container-fluid {
    padding: 0 2rem;
}

.branding {
    display: flex;
    align-items: center;

    i.fa-bars-staggered {
        display: none;
    }

    i.fa-circle {
        color: #0d6efd;
        transform: scale(.4);
        margin-top: 9px;
        margin-left: -2px;
    }
}

.navbar-links-container {
    display: flex;
    gap: 2rem;
    font-weight: 600;

    a {
        transition: color .7s;
    }

    a:hover {
        color: #0d6efd !important;
    }
}



.hero-outer {
    height: calc(100vh - 100px);
    display: flex;
}

.hero {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(7, 1fr);
    margin: auto;
    height: 60%;

    a {
        color: #fff;
        width: 100%;
        padding: 0 1rem;
        transition: color .7s;
    }


    >* {
        padding: 1rem;
        border-radius: .5rem;
    }

    .profile-photo-container {
        grid-row: 1/ span 3;
        grid-column: 1/ span 2;
    }

    .name-container {
        grid-row: 1;
        grid-column: 3/ span 3;

        span {
            font-size: 25px;
            font-weight: 600;
        }
    }

    .status-container {
        grid-row: 1/ span 2;
        grid-column: 6/ span 2;
        background-image: url("../public/working.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;

        span {
            font-size: 20px;
        }

        :last-child {
            font-size: 30px;
            color: #4a92ff;
            font-weight: 600;
        }
    }

    .download-cv-container {
        grid-row: 4;
        grid-column: 1/ span 2;
    }

    .summary-container {
        grid-row: 3/ span 2;
        grid-column: 3/ span 5;

        >:first-child {
            font-size: 22px;
            font-weight: 600;
        }

        >:last-child {
            text-align: justify;
            font-size: 20px;
        }
    }

    .email-container {
        grid-row: 2;
        grid-column: 3;

    }

    .linkedin-container {
        grid-row: 2;
        grid-column: 4;

    }

    .github-container {
        grid-row: 2;
        grid-column: 5;

    }

    .social-links-container {
        padding: 0;
        display: flex;
        transition: background-color .7s;
        min-height: 50px;
    }

    .social-links-container:hover {
        background-color: #fff;

        a {
            color: #000;
        }
    }
}

.about-container,
.skills-container {
    padding-top: 50px;
}

.about-container a {
    padding: .7rem;
    font-weight: 600;
    transition: all .7s;
}

.about-container-inner {
    padding: 1rem 0;
    gap: 3rem;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 3px;
        transform: scaleY(0);
        transform-origin: top;
        animation: grow 5s forwards;
        animation-timeline: view();
        animation-range: entry;
        background: linear-gradient(to bottom, #fff, #7E7E7E, #7e7e7e00);
    }

    >div {
        padding: 1rem;
        border-radius: .5rem;
        margin-left: 2rem;
        position: relative;
        transform: translateX(-110%);
        animation: towards-right 10s forwards;
        animation-timeline: view();
        animation-range: entry 100px;
    }

    >div::before {

        position: absolute;
        left: calc(-35px - 1rem);
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        aspect-ratio: 1/1;
        background-color: #fff;
        border-radius: 50%;
    }

    .introduction-container {
        &:before {
            content: "1";
        }
    }

    .passion-container {
        &:before {
            content: "2";
        }
    }

    .approach-container {
        &:before {
            content: "3";
        }
    }
}

.skills-container-inner {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .skill {
        padding: 1rem;
        gap: 1rem;
        border-radius: .5rem;
        min-height: 300px;
        scale: 0;
        animation: pop 3s forwards;
        animation-timeline: view();
        animation-range: entry;

        img {
            width: 25%;
            aspect-ratio: 1/1;
            object-fit: contain;
        }

        span {
            text-align: justify;
        }
    }
}

.contact-container {
    padding: 70px 0;

    form {
        width: 50%;


        div {
            display: flex;
            flex-direction: column;
        }

        input,
        textarea {
            padding: .5rem;
            outline: none;
            border: none;
            resize: none;
        }

        label {
            margin-bottom: .5rem;
        }

        button {
            width: 25%;
            min-width: 150px;
        }
    }
}

footer {

    a {
        color: #fff;
        display: flex;
        gap: .5rem;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
        transition: all .7s;

        &:hover {
            transform: scale(1.05);
        }
    }

    .my-container {
        border-bottom: 2px solid #fff;
    }
}

.hero,
.about-container,
.skills-container,
.contact-container {
    opacity: 0;
    animation: fade-in forwards;
    animation-timeline: view();
    animation-range: entry 100px;
}


@keyframes fade-in {

    to {
        opacity: 1;
    }
}

@keyframes towards-right {
    to {
        transform: translateX(0%);
    }
}

@keyframes pop {
    to {
        scale: 1;
    }
}


@keyframes grow {
    to {
        transform: scaleY(1);
    }
}

#modal {
    border: none;
    border-radius: 2px;
    min-width: 300px;

    button {
        width: 150px;
    }
}

#modal,
footer,
form,
.skill,
.about-container-inner>div,
.hero>* {
    background-color: #2d2d2d;
    box-shadow: 3px 10px 20px #00000033;
}

footer{
    box-shadow: none;
}

#modal::backdrop {
    backdrop-filter: blur(5px);
}

@keyframes slide-up {
    from {
        transform: translateY(20%);
    }

    to {
        transform: translateY(0);
    }
}

.contact-container .container-fluid {

    >div {
        transform: translateX(-100%);
        animation: towards-right 5s forwards;
        animation-timeline: view();
        animation-range: entry 100px;
    }


}


@media only screen and (max-width:1000px) {
    .contact-container {
        .container-fluid {
            flex-direction: column-reverse;

            form {
                margin: auto;
            }

            span.w-75 {
                width: 100% !important;
            }

        }
    }

    .my-container {
        padding: 0 2rem;
    }
}

@media only screen and (max-width:850px) {
    .hero {
        grid-template-columns: repeat(7, 1fr);

        .profile-photo-container {
            grid-column: 1/ span 3;
            grid-row: 1/ span 3;
        }

        .name-container {
            grid-column: 4/ span 4;
        }

        .email-container {
            grid-column: 4/ span 2;
            grid-row: 2;
        }

        .linkedin-container {
            grid-column: 4/ span 2;
            grid-row: 3;
        }

        .github-container {
            grid-column: 4/ span 2;
            grid-row: 4;
        }

        .status-container {
            grid-column: 6/ span 2;
            grid-row: 2/ span 3;
            background: #2d2d2d;
            position: relative;

            &::after {
                content: "";
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                background-image: url("../public/working.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                opacity: .3;
            }

        }

        .summary-container {
            grid-row: 5/ span 2;
            grid-column: 1 / span 7;
        }

        .download-cv-container {
            grid-row: 4;
            grid-column: 1/ span 3;
        }
    }

    .skills-container-inner {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width:540px) {
    .hero-outer {
        height: fit-content;
        padding: 1rem 0;
    }

    .hero {
        grid-template-columns: repeat(3, 1fr);
        height: 100%;

        .profile-photo-container {
            grid-column: 1/ span 3;
            grid-row: 1/ span 3;
        }

        .name-container {
            grid-column: 1/ span 3;
            grid-row: 4/ span 1;
        }

        .email-container {
            grid-column: 1;
            grid-row: 5;
        }

        .linkedin-container {
            grid-column: 2;
            grid-row: 5;
        }

        .github-container {
            grid-column: 3;
            grid-row: 5;
        }

        .status-container {
            grid-column: 1/ span 2;
            grid-row: 6/ span 1;
            background: #2d2d2d;
            position: relative;

        }

        .summary-container {
            grid-row: 7/ span 2;
            grid-column: 1 / span 3;
        }

        .download-cv-container {
            grid-row: 6;
            grid-column: 3/ span 1;
        }
    }

    .about-container {
        a {
            width: 50% !important;
        }
    }

    .skills-container-inner {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width:500px) {
    .my-navbar.my-navbar-expanded {
        min-height: 200px !important;
    }

    .my-navbar {


        .navbar-links-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

    }
}

@media only screen and (max-width:640px) {
    .my-navbar.my-navbar-expanded {
        min-height: 130px;
    }

    .my-navbar {
        min-height: 0;
        padding: .5rem 0;
        overflow-y: hidden;

        .my-container {
            flex-direction: column;
            align-items: start !important;
            gap: 1rem;

            .branding {
                width: 100%;

                .fa-bars-staggered {
                    display: inline;
                }
            }

            .navbar-links-container {
                width: 100%;

                a {
                    background-color: #fff;
                    color: #000;
                    padding: .5rem 1rem;
                    border-radius: 2px;
                    flex: 1;
                    text-align: center;
                    transition: all .7s;
                }



            }
        }
    }

    .contact-container {
        .container-fluid {
            gap: 1rem;

            form {
                width: 100%;
            }

        }
    }
}

@media only screen and (max-width:400px) {
    .hero {
        display: flex;
        flex-direction: column;
    }
}